aiohappyeyeballs==2.4.6
aiohttp==3.11.12
aiosignal==1.3.2
annotated-types==0.7.0
attrs==25.1.0
blobfile==3.0.0
certifi==2025.1.31
charset-normalizer==3.4.1
filelock==3.17.0
-e git+https://github.com/takaria0/FormationFormatter.git@7dbb3cd1a773174a4a124578397ab37d90ebc6f0#egg=formationformatter
frozenlist==1.5.0
idna==3.10
lxml==5.3.1
multidict==6.1.0
numpy==2.2.3
openai==0.28.0
pandas==2.2.3
propcache==0.2.1
pycryptodomex==3.21.0
pydantic==2.10.6
pydantic-settings==2.7.1
pydantic_core==2.27.2
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
pytz==2025.1
regex==2024.11.6
requests==2.32.3
six==1.17.0
tiktoken==0.9.0
tqdm==4.67.1
typing_extensions==4.12.2
tzdata==2025.1
urllib3==2.3.0
yarl==1.18.3
